
.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  /* font-variation-settings:
    "wdth" 100; */
}
body{
    width: 1140px;
}
/* shared items */
.display-flex{
     display: flex;
}
.web-logo{
    /* width: 100%; */
}
.font{
    color: #8987A1;
}
/* Navbar style */

ul li{
    list-style: none;
}
ul li a{
    text-decoration: none;
}
.nav-title{
    display: flex;
    margin: 30px 150px 120px 150px;
    justify-content: space-between;
    align-items: center;
}
ul{
    display: flex;
    /* grid-template-columns: repeat(4,1fr); */
    gap: 20px;
    align-items: center;
}
.item-1{
    color: #252432;
    font-weight: bold;
}
.item-4{
    color: #000000;
}
/* responsive media */
@media screen and (max-width: 576px) {
    .hidden{
        display: none;
    }
}